---
layout: default
title: Goetter
---
<h1>
    {{ page.title }}
</h1>

<div class="posts">
  <h2>Gute {{ page.title }}</h2>
  <ul>
  {% for gott in site.goetter %}{% if gott.group == "good" %}
  <li><a href="{{ gott.url | relative_url }}">{{ gott.title }}</a></li>
  {% endif %}{% endfor %}
  </ul>
</div>

<div class="posts">
  <h2>Boese {{ page.title }}</h2>
  <ul>
  {% for gott in site.goetter %}{% if gott.group == "evil" %}
  <li><a href="{{ gott.url | relative_url }}">{{ gott.title }}</a></li>
  {% endif %}{% endfor %}
  </ul>
</div>
