---
layout: default
title: Magie
---
<h1>
    {{ page.title }}
</h1>
<div class="posts">
  <ul>
  {% for file in site.magie %}
  <li><a href="{{ file.url | relative_url }}">{{ file.title }}</a></li>
  {% endfor %}
  </ul>
</div>
