---
layout: default
title: Regionen
---
<h1>
    {{ page.title }}
</h1>
<div class="posts">
  <ul>
  {% for file in site.regionen %}
  <li><a href="{{ file.url | relative_url }}">{{ file.title }}</a></li>
  {% endfor %}
  </ul>
</div>
