<hr/>

<div class="related">
  <h2>Ähnliche Seiten</h2>
  <ul class="related-posts">

    {% for collection in site.collections %}{% for doc in collection.docs %}
    {% if doc.collection == page.collection and doc.group == page.group and doc != page %}
      <li>
        <h5><a href="{{ doc.url | relative_url }}">{{ doc.title }}</a></h5>
      </li>
    {% endif %}{% endfor %}{% endfor %}

<!--
    {% for gott in site.goetter %}{% if gott.group == page.group %}
      <li>
        <h5><a href="{{ gott.url | relative_url }}">{{ gott.title }}</a></h5>
      </li>
    {% endif %}{% endfor %} -->
  </ul>
</div>

<hr/>
