<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <h3>Hauptseiten</h3>
      {% assign baseurl = ( site.baseurl | append: "/" ) %}
      <a class="sidebar-nav-item{% if page.url == baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Blog</a>

      {% assign pages_list = site.pages %}{% for node in pages_list %}{% if node.title != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}/">{{ node.title }}</a>
      {% endif %}{% endif %}{% endfor %}

      <h3>Hintergrund</h3>
      {% for collection in site.collections %}
        {% if collection.label != "posts" %}
        {% assign coll_url = collection.label | relative_url %}
        {% assign coll_url_comp = collection.label | append: "/" | prepend: "/" %}
          <a class="sidebar-nav-item{% if coll_url_comp == page.url %} active{% endif %}" href="{{ coll_url }}/">{{ collection.prettyname }}</a>
        {% endif %}
      {% endfor %}

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
