---
layout: default
---

<a href="{{ page.collection | relative_url}}"><h1>{{ page.collection | capitalize }}</h1></a>

<div class="page">
  {{ content }}
</div>

<div class="row">

{% for card in page.metadata %}

<div class="column">
  <div class="card">
    <h3>{{ card.label }}</h3>
    <p>{{ card.content }}</p>
  </div>
</div>

{% endfor %}

</div>

{% include related.html %}
